/*CSS Transtions*/
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}


/*vue-tree-navigation*/
/*

.NavigationLevel
.NavigationLevel--level-[n] 
.NavigationLevel--closed
.NavigationLevel__parent
.NavigationToggle
.NavigationToggle__icon
.NavigationToggle__icon--closed
*/
.TreeNavigation {
  margin-left: 30px;
}
.TreeNavigation a {
  text-decoration-line: none;
}
.TreeNavigation ul {
  padding-left: 5px !important;
}
.TreeNavigation li {
  padding-left: 10px !important;
}
.NavigationLevel__children {
  padding-left: 5px !important;
}
.NavigationItem {
  color:   #545454;
  margin-bottom: 6px;
}
.NavigationItem--active {
  color: #42b883;
  font-weight: bolder;
}
/*vue-tree-navigation ends*/



/*dhrubo*/
.logo {
  display: block;
  width: 100px;
  margin: 30px;
}
/**/
@font-face {
  src: url(/css/BebasNeue-Regular.ttf);
  font-family: buetps-bebas;
}
.buetps-page-head {
  width:100vw;
  padding: 5vw 20vw 5vw 5vw;
  color:#FFF;
  font-family: buetps-bebas !important;
} .buetps-page-head .buetps-page-head-title{
  font-size:10vh;
} .buetps-page-head .buetps-page-head-subtitle{
  font-size:4vh;
  margin-bottom:-3vh;
}
.buetps-page-content {
  margin: 2cm 15vw 2cm 15vw;
}

.gallery-page-head {
  width: 100vw;
  height: 10vh; 
  background-color: white;
  padding: 3vh 20vw 2vh 5vw;
} .gallery-page-head .gallery-title {
  font-family: buetps-bebas !important;
  font-size: 4vh;
} .gallery-page-head .gallery-subtitle {
  font-family: buetps-bebas !important;
  font-size: 2vh;
  margin-bottom: -.2cm;
} .gallery-page-head .gallery-description {
  color: #55555555 !important;
}
.gallery-page-content {
  padding: 5vh 5vw 5vh 5vw;
  margin-top: 2vh 0 2vh 0;
}
.v-carousel {
  box-shadow: none !important;
}
.v-responsive {
  position: static !important;
}
.v-image__image--cover {
  background-size: contain;
}


@media (max-width: 992px) {
  .buetps-page-head .buetps-page-head-title{
    font-size:10vw;
  }
  .buetps-page-head .buetps-page-head-subtitle{
    font-size:5vw;
    margin-bottom:-3vw;
  }
  .buetps-page-content {
    margin: 5vh 10vw 10vh 10vw;  
  }

  .gallery-page-head .gallery-title {
    font-size: .7cm;
  } .gallery-page-head .gallery-subtitle {
    font-size: .4cm;
  }
}



.logo-inside {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5vh;
} .logo-inside img {
  max-height: 5vh;
}